* {
    margin: 0;
}

.top {
    float: left;
    margin: 0 auto 0 auto;
}

header {
    font-family: 'Georgia', Times, Times, serif;
}


#logo {
    background: #4aaaa5;
    color: white;
    padding: 20px;
    position: relative;
    top:0;
    left: 408px;
    display: inline;
}

a {
    color: #cccccc;
    position: relative;
    top: 0;
    left: 900px;
} 

.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    background: #cccccc;
    border-top: 1px solid #777777;
    clear: both;
    overflow: auto;
}

#content {
    background: white;
    border: 1px solid #777777;
    margin-left:  400px;
    margin-right: 400px;
    margin-top: 50px;
    margin-bottom: 70px;
}

h2 {
    color: #4aaaa5;
    border-bottom: 3px solid #cccccc;
    padding: 20px;
    margin: 20px;
    font-family: 'Georgia', Times, Times, serif;
}

.pic {

}

p {
    background: #4aaaa5;
    color: white;
    width: 150px;
    padding: 10px;
}

/** I am horrible at positioning and floats >:s **/


footer {
    background: #777777;
    color: white;
    border-top: 3px solid #4aaaa5;
    text-align: center;
    padding-top: 30px;
    font-size: 14px;
}